body {
    font-family: Poppins, Verdana, Geneva, Tahoma, sans-serif;
}


.basic-info {
    font-size: 32px;
    font-weight: 600;
    line-height: 34px;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
}

.dog-bio {
    color: #B7B7B7;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    padding-left: 0.5rem;
    padding-bottom: 0.5rem;
}

button {
    border: none;
    border-radius: 40px;
    background: #FFFFFF;
    padding: 1.4rem;
    box-shadow: 0px 10px 20px 0px #E9E9EA;
 }

.actions {
    display: flex;
    justify-content: space-evenly;
}

#card .dog-img {
    width: 100%;
}

#card {
    position: relative;
    width: 100%;
}

.dog-info {
    position: absolute;
    color: white;
    bottom: 10px;
    left: 10px;
}

header {
    display: flex;
    justify-content: space-between;
}

#reject-button:hover {
    background: #FFE7EF
}

#accept-button:hover {
    background: #DBFFF4;
}

.badge-yes, .badge-nope {
    position: absolute;
    top: 11%;
    z-index: 2;
    width: 42%;
    transform: rotate(-40deg);
}

.no-profile-text {
    text-align: center;
    font-weight: 900;
    padding: 20rem 0;
}


